# Dependências
node_modules
/.pnp
.pnp.js

# Next.js build
.next/
out/

# Capacitor / Android (Gerados localmente)
/android
/ios
/out
capacitor.config.ts.bak

# Ambiente e Logs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local
